.inputContainer {
  margin: 2rem 0;
}
.input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 1.6rem;
  font-weight: 400;
  background: transparent;
  outline: none;
}

.inputContainer label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-black);
}

.invalid {
  border-bottom: 2px solid var(--color-red);
}
