:root {
  --color-primary: rgb(0, 53, 102);
  --color-primary-light: #145089;
  --color-secondary: #b0d8fe;
  --color-tertiary: #f95738;
  --color-green: #00ff00;
  --color-red: #ff0000;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #c9c9c9;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
