.button {
  display: inline-block;
  padding: 1rem 2rem;
  margin-bottom: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 1rem;
  background-color: var(--color-tertiary);
  color: var(--color-white);
  transition: all 0.3s;
}

.button:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-7px);
  opacity: 0.9;
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}
