.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.2rem;
  background-color: var(--color-secondary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--color-tertiary);
  outline: none;
}

input[type="checkbox"]::after {
  margin-top: 0.5rem;
  content: url(./Icons/tick.svg);
  display: none;
}
input[type="checkbox"]:checked::after {
  display: block;
}
